   <% if current_admin.gauth_enabled == "1" %>
       
        <%= form_for(@object, url: delete_action_path(model_name: @abstract_model.to_param, id: @object.id), html: {method: "delete"}) do %>
       <%= form_with(model: @admins, :html => { :method => :get }) do |f| %>
       <p><%= f.label :gauth_token%><br />
       <%= f.number_field :gauth_token, :autocomplete => :off, class: "form-control" %>
       <p><%= f.submit  "delete" , class: "btn btn-danger" %></p>
       <% end %>
     <% end %>
    <% else %>
      <p>please enable 2fa to delete content</p>
      <% end %>




