<h4>
  <%= t("admin.form.are_you_sure_you_want_to_delete_the_object", model_name: @abstract_model.pretty_name.downcase) %>
  &ldquo;
  <strong>>= @model_config.with(object: @object).object_label</strong>
  \&rdquo;
  <span>></span>
  <%= t("admin.form.all_of_the_following_related_items_will_be_deleted") %>
</h4>
<ul>
  <%= render partial: "delete_notice", object: @object %>
</ul>
   <% if current_admin.gauth_enabled == "1" %>
  <%= form_for(model: @admin) do |f| %>
      
        <p><%= f.label :gauth_token%><br />
     <%= f.number_field :gauth_token, :autocomplete => :off, class: "form-control" %>

     <p><%= f.submit  "submit" , class: "btn btn-primary" %></p>
   <% end %>
    <% else %>
      <p>please enable 2fa to delete content</p>
      <% end %>